body {
    background-color: rgb(236, 236, 236);
    color: #222;
    font-family: 'Roboto', sans-serif;

}

h1 {
    background-color: #222;
    padding: 10px 0px;
    color: rgb(236, 236, 236);
    min-height: 65px;
}

/* Styling the largest GIF div */
#gif-view {
    margin-top: 20px;
}
 /* Styling the individual GIF containers */
.gif-container {
    float: left;
    margin: 10px;
}

/* Styling the input search box */
#add-topic {
    margin-top: 5px;
}

/* Styling the overlay text that appears on hover */
.text-overlay {
    display: none;
    background: rgb(236, 236, 236, 0.7);
    position: absolute;
    padding: 5px;
    /* font-size: 14px; */
}

/* Styling the favorites h1 element to be slightly lighter than the main h1 element */
#favorites-h1 {
    background-color: #555
}

/* Media tag desktop */
@media screen and (max-width: 980px) {

.main-content {
    flex-direction: column;
} 
.item1 {
    order: 2;
}   
.item2 {
    order: 1;
    margin-top: 10px;
}

}